{{#if username }}
  {{#block "section" }} {{/block}}
{{ else }}
  {{#partial "nav-bar" }}
    <h2 p-5>Wildlife Tracker</h2>
  {{/partial}}
  {{#partial "content"}}
    <h4>Ranger Sign in</h4>
    <form action="/" method="post">
      <div class="form-group input-group">
        <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username"
               required>
        <div class="input-group-append">
          <button class="btn btn-primary">Signin</button>
        </div>
      </div>
    </form>
  {{/partial}}
{{/if }}

{{> base.hbs}}